$white: #fff;
$black: #000;

$main_bg_gradient_first: #f7f7f7;
$main_bg_gradient_second: #eaeced;

$section_bg_gradient_first: #fbf9f5;
$section_bg_gradient_second: #f2f4f5;

$card_bg_white: #fefefe;
$card_bg_gray: #eeeeee;

$main_blue: #1359d1;
$first_blue: #1aadef;
$second_blue: #ebf1f8;

$main_white: #fdfdfb;
$main_black: #0e0e0c;
$main_red: #fe4a5d;

$main_gray: #e2e2e2;
$first_sub_text_gray: #555555;
$second_sub_text_gray: #8a8a8a;
